mkdocs==1.4.2
markdown==3.3.7 # Temporarily pin version <3.4, see https://github.com/mkdocs/mkdocs/pull/2893
mkdocs-material==9.0.6

# Markdown extensions
pymdown-extensions==9.9.2

# MkDocs plugins
mkdocs-meta-descriptions-plugin==2.2.0
