mkdocs==1.4.3
markdown==3.3.7 # Temporarily pin version <3.4, see https://github.com/mkdocs/mkdocs/pull/2893
mkdocs-material==9.1.10

# Markdown extensions
pymdown-extensions==9.11

# MkDocs plugins
mkdocs-meta-descriptions-plugin==2.2.0
