mkdocs==1.5.2
markdown==3.3.7 # Temporarily pin version <3.4, see https://github.com/mkdocs/mkdocs/pull/2893
mkdocs-material==9.2.5

# Markdown extensions
pymdown-extensions==10.3

# MkDocs plugins
mkdocs-meta-descriptions-plugin==2.3.0
